<%- include ../../partials/header.ejs%>
<%- include ../../partials/navbar.ejs%>

<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-5">
            <main class="form-registration">
                <h1 class="h3 mb-3 fw-normal text-center mt-3">Please registrasi</h1>
                <form method="post" action="/register">
                    <div class="form-floating">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Masukkan nama kamoe" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Masukkan email kamoe" name="email" required>
                        <label for="email">Email</label>
                    </div>
                        <div class="form-floating">
                        <input type="password" class="form-control" id="password" placeholder="Password kamoe" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <input type="hidden"name="role" value="user">


                    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                </form>
                <small class="text-center d-block mt-sm-3">Have account? <a href="/login">Login now</a></small>
            </main>
        </div>
    </div>
</div>


<%- include ../../partials/footer.ejs%>